{% extends 'base.html' %}


{% block content %}
<h1>Products</h1>
<div class="row">
    {% for each_product in products %}
    <div class="col">
        <div class="card" style="width: 18rem; height: 400px;">
            <img src="{{each_product.image_url}}" class="card-img-top" alt="..." style="height: 200px">
            <div class="card-body">
                <h5 class="card-title">{{each_product.name}}</h5>
                <p class="card-text">
                    Price: {{each_product.price}}<br>
                    Stocks: {{each_product.stock}}
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}